{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    ["transform-runtime", {
      "helper": false,
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
